
<main>
    <h1>reception</h1>

    <div>
        <h3>форма для реєстрації</h3>
        <input id="registration_name" type="text" placeholder="name">
        <input id="registration_email" type="email" placeholder="email">
        {{!-- <input type="password"> --}}
        <input id="registration_password" type="text" placeholder="password">
        {{!-- <input id="registration_repead_password" type="text" placeholder="repead password"> --}}
        <input id="registration_btn" type="button" value="send">
    </div>
</main>
{{#section 'scripts'}}
        <script src="/scripts/jquery-3.2.1.min.js"></script>
        <script src="/scripts/reception/registration.js"></script>

{{/section}}