
<main>
    <h1>reception</h1>
    <div>
        <h3>форма для входу</h3>
        <input id="login_name" type="text" placeholder="name">
        <input id="login_password" type="text" placeholder="password">
        <input id="login_btn" type="button" value="send">
        <a href="#">забули пароль</a>
    </div>

</main>

{{#section 'scripts'}}
        <script src="/scripts/jquery-3.2.1.min.js"></script>
        <script src="/scripts/reception/login.js"></script>

{{/section}}