<main>
    <h1>user: {{username}} meat продукт</h1>
    <input type="text" placeholder="product name">
    <input type="text" placeholder="product cost">
    <input type="text" placeholder="product b">
    <input type="text" placeholder="product z">
    <input type="text" placeholder="product y">
    <input type="button" placeholder="product y">
</main>